@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

body {
  background: radial-gradient(closest-corner at 60% 55%,darkmagenta,midnightblue,navy, red ,yellow, crimson);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

nav {
  font-size: 2rem;
  align-items: center;
  color: black;
  background: linear-gradient(yellow, lime);
  animation-name: bounce;
  animation-duration: 2s;
  transform-origin: top;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1, 1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1, 1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

p {
  font-size: 40px;
  font-weight: bold;
  margin-left: 470px;
  text-shadow: 2.5px 2.5px 1.5px #000;
}
header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(red, green);
  text-shadow: 0px 0px 0 rgba(0, 0, 0, 0);
}

.search {
  background-color: transparent;
  border: 3px solid var(darkmagenta);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
  color: #fff;
  font-family: inherit;

  font-weight: bold;
  color: #200 !important;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  border: 5px outset white;
  box-shadow: 0 0 15px -1px rgb(153, 255, 153), 0 0 1px -1px rgb(0, 180, 230) inset;
  border-radius: 120px;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {background: radial-gradient(circle, cornsilk, white);
  }
  50% {background: radial-gradient(circle, cornsilk, springgreen);
  }
  100% {background: radial-gradient(circle, cornsilk, Lime);
  }
}

.search:focus {
  outline: 0;
  background-color: var(yellow);
}

.search::placeholder {
  color: #7378c5;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie {
  width: 300px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 1);
  background-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: translate 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}
.container {
  padding: 2rem;
  color: white;
  width: 100%;
}

.return-btn {
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
}

.similar-title {
  margin-top: 4rem;
}

.similar-movies {
  display: flex;
  flex-wrap: wrap;
}

.single-container {
  width: 100%;
}

.single-img {
  width: 100%;
  max-width: 30rem;
  height: auto;
}

/* Single Movie
.movie-page{
  display: flex;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}
.movie-image{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.movie-image img{
  object-fit: cover;
  height: 500px;
  border-radius: 10px;
  
  
}
.movie-page h2,h4,h5{
  padding: 0;
  margin: 10px;
}
.movie-page h5{
  font-weight: 500;
}
a{
  text-decoration: none;
  color: #007CBD;
}




@media(min-width:768px) and (max-width:1025px){
  .movies-container{
      padding: 0;
  }
}
@media(max-width:768px){
  body{
      padding: 0 10px;
  }
  .movies-container{
      padding: 0;
  }
  .movie-page{
      flex-direction: column;
  }
  .movie-image img{
      height: 400px;
  }
}
*/